  html { height: 100%; width: 100%;}
  body { height: 100%; margin: 0; width: 100%; padding: 0; }
  #map_canvas { height: 100% }
  #nav{  width: 100%; display: table;}
  #nav input{font-size: 1.4em; display: table-cell; width: auto; max-width: 95%}
  .button1, .button2 {font-size: 1.4em; display: table-cell; border: none; min-width: 32px; min-height: 32px; float: left}
  .button2{ background-color: #fff; background-image: url('search.png'); }
  .button1{ background-color: #fff; background-image: url('target.png'); }
  .direct{width: 64px; height: 64px;}
  table, tr, td { padding: 0px; border-collapse:collapse; }
  #walk { display: image; background-color: #fff; border: none; background-image: url('images/walking.png');}
  #bike { display: image; background-color: #fff; border: none; background-image: url('images/bicycle.png');}
  #drive { display: image;background-color: #fff;  border: none; background-image:  url('images/car.png');}
  #query { width: 100%; font-size: 1.4em;}
  #navigate { position: absolute; bottom: 0px;}
  #content-header {display: none; width:10%;}
  .profile{margin: 0;}
  #footer{height:10%;
    
    background: none repeat scroll 0 0 #3A8CE6;
  }
  #header{height:10%;}
  #main{height:80%;}
  #content-bottom{ display: none;}
  #primary-wrapper{ display: none;}
  
  
  a.header_icon{
    display: inline;
     text-align: center;
     height: 10%;
  }
  
    a.header_icon div img{
    display: inline;
    height: 100%;
    
  }
   
  #map_icon,
  #list_icon{
      float:left;
    width: 10%;
    height: 100%;
/*     background: url('http://b.dryicons.com/images/icon_sets/wysiwyg_sapphire/png/128x128/bulleted_list.png'); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;  
  }
  
/* $Id: layout.css,v 1.14 2009/05/07 17:00:40 jmburnz Exp $ */
/*
 * LAYOUT STYLES
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * The Pixture Reloaded layout is based on the Holy Grail layout used in the 
 * Zen Theme. http://drupal.org/project/zen
 *
 */
/*-------------------------------------------------------------------*/
/*                              Reset                                */
/*-------------------------------------------------------------------*/
body,
.comment,
#logo,
#branding,
#site-slogan,
#content-inner,
#sidebar-left .block,
#sidebar-right .block,
#header-blocks .block,
#content-top .block,
#content-bottom .block,
#footer .block .content,
#forum td.forum,
#forum .name a,
#forum .description,
div.admin-panel,
li,
.item-list ul,
ul.images li h3,
div.item-list ul.pager li,
ul.pager li,
.tabs ul,
div.page-links a.page-previous,
div.page-links a.page-up,
div.page-links a.page-next,
ul.images li h3 {
  padding: 0; 
  margin: 0;
}
/*-------------------------------------------------------------------*/
/*                              Page                                 */
/*-------------------------------------------------------------------*/
#page {
  margin: 0 auto;
  padding: 0px;
  max-width: 1600px;
  min-width: 280px;
}
/*-------------------------------------------------------------------*/
/*                             Skip to                               */
/*-------------------------------------------------------------------*/
#skip-to-content {
  height: 0; 
		overflow: hidden;
		display: none;
  font-size: 0.8em;
}
/*-------------------------------------------------------------------*/
/*                               Header                              */
/*-------------------------------------------------------------------*/
#header {
/*   margin: 0 0 15px 0; */
  padding: 0;
overflow: visible;
}
#logo {
  margin: 0 10px 0 0;
  padding: 0;
  height: 120px;
  float: left;
  overflow: hidden;
}
#head-elements {
    background-clip: border-box;
    background-color: #3A8CE6;
    background-image: url("images/header_03.gif");
    background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
     min-height: 100%;
    margin: auto;
    
/*      width: 50%;  */
}
h1#site-name, 
div#site-name {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 2.6em;
  line-height: 1.3em;
}
#site-slogan em {
  font-style: normal;
  margin: 0;
}
#search-box {
  float: right;
  position: relative;
  margin: 35px 20px 0pt 0pt; /* pull the search box into position */
  padding: 0;
}
/*-------------------------------------------------------------------*/
/*                   Additional Regions & blocks                     */
/*-------------------------------------------------------------------*/
#header-blocks, 
#content-top, 
#content-bottom {
  clear: both; /* Clear the header */
  text-align: center;
}
#header-blocks .block-inner, 
#content-top .block-inner, 
#content-bottom .block-inner { margin: 0 auto; }
/*-------------------------------------------------------------------*/
/*                              Main                                 */
/*-------------------------------------------------------------------*/
#main {
  position: relative;
/*   padding: 0 15px 10px 15px; */
}
#main-inner {}
/*-------------------------------------------------------------------*/
/*                            Content                                */
/*-------------------------------------------------------------------*/
#content {
  float: left;
  width: 100%;
  margin-left: 0;
  margin-right: -100%; /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content-inner. */
}
.two-sidebars #content-inner {
  padding-left: 235px; /* The width + left margin of #sidebar-left. */
  padding-right: 260px; /* The width + right margin of #sidebar-right. */
}
.sidebar-left #content-inner {
  padding-left: 235px; /* The width + left margin of #sidebar-left. */
  padding-right: 0;
}
.sidebar-right #content-inner {
  padding-left: 0;
  padding-right: 260px; /* The width + right margin of #sidebar-right. */
}
/* Set wider margins in full node view for readability 
   This uses the extra body class ".node-full-view", set in pixture_reloaded_preprocess_page  */
.node-full-view.two-sidebars #content-inner {
  padding-left: 245px; /* The width + left margin of #sidebar-left. */
  padding-right: 245px; /* The width + right margin of #sidebar-right. */
}
.node-full-view.sidebar-left #content-inner {
  padding-left: 245px; /* The width + left margin of #sidebar-left. */
  padding-right: 0;
}
.node-full-view.sidebar-right #content-inner {
  padding-left: 0;
  padding-right: 245px; /* The width + right margin of #sidebar-right. */
}
/*-------------------------------------------------------------------*/
/*                        Primary, Superfish                         */
/*-------------------------------------------------------------------*/
#primary,
#superfish       { padding: 0; }

#superfish-inner { margin: 0 0 0 15px;}
/* Zero left margin for centered menus (optional)
#primary-inner   { margin: 6px 0 0 0;}
#superfish-inner { margin: 0 0 0 0;}
*/
#primary ul          { margin: 0;}
#primary ul li.first { padding-left: 0; }

/*-------------------------------------------------------------------*/
/*                             Sidebars                              */
/*-------------------------------------------------------------------*/
/** sidebar-left **/
#sidebar-left {
  float: left;
  width: 220px;
  margin-left: 0;
  margin-right: -220px; /* Negative value of #sidebar-left's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-left-inner. */
}
/** sidebar-right **/
#sidebar-right {
  float: right;
  width: 250px;
  margin-left: -250px; /* Negative value of #sidebar-right's width + right margin. */
  margin-right: 0;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #sidebar-right-inner. */
}
#sidebar-right .block{
  margin-bottom: 10px;
  width: 250px;
}
#block-block-1 .block-inner .block-content .block-content-inner{
  width: 250px;
  padding: 0px;
}
/*-------------------------------------------------------------------*/
/*                          Footer & Closure                         */
/*-------------------------------------------------------------------*/
#footer { min-height: 70px; }
#footer-message { padding: 0 0 3px 0; }
#closure-blocks {}
/*-------------------------------------------------------------------*/
/*                   Prevent overflowing content                     */
/*-------------------------------------------------------------------*/
#header,
#content,
#navbar,
#sidebar-left,
#sidebar-right,
#footer,
#closure-blocks {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}
/*-------------------------------------------------------------------*/
/*                             Clearing                              */
/*-------------------------------------------------------------------*/
/* Clearing floats without extra markup
   http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.clearfix { display:inline-block; }
* html .clearfix { height: 1%; }
.clearfix        { display: block; }
/* Regular clearing */
.clear { clear:both; }